<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button *ngIf="!confirmOnly" type="button" class="btn-close" (click)="modal.dismiss('Cross click')"> </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="row">
      <div class="col">
        <p class="lead"><small [innerText]='message'></small></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!confirmOnly" type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">取消</button>
    <button type="button" class="btn btn-success" (click)="confirm()">{{ confirmText }}</button>
  </div>
</ng-template>