<div class="modal fade" id="announcerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">上帝助手</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p class="lead mb-0">游戏阵容:</p>
            <p> {{ gameState.characterDetails }}</p>
          </div>
          <div class="col-12 mt-2">
            <p class="lead mb-0">上帝台词:</p>
          </div>
        </div>

        <ol style="margin-left:-10px">
          <li *ngFor="let a of announcements; let ind = index" [innerHTML]="a"></li>
        </ol>

        <div class="row">
          <div class="col-12">
            <p class="lead mb-0">记事本（刷新网页会清空）:</p>
          </div>
          <div class="col-12">
            <div class="form-floating">
              <textarea class="form-control pt-2" style="height: 200px" [(ngModel)]="note"></textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>