<ng-template #announcerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">上帝助手</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"> </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="row">
      <div class="col-12">
        <p class="lead mb-0">游戏阵容:</p>
        <p> {{ gameState.characterDetails }}</p>
      </div>
      <div class="col-12 mt-2">
        <p class="lead mb-0">上帝台词:</p>
      </div>
    </div>

    <ol style="margin-left:-10px">
      <li *ngFor="let a of announcements; let ind = index" [innerHTML]="a"></li>
    </ol> 

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">关闭</button>
  </div>
</ng-template>