<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="container">
    <p style="width:60px"></p>
    <a class="navbar-brand">{{ gameState.state == 'game' ? '房间号: ' + gameState.gameId : '狼人杀发牌助手' }} </a>
    <div style="min-width: 60px;">
      <button *ngIf="gameState.state == 'game'" type="button" class="btn btn-outline-danger"
       (click)="confirmModel.showDialog('退出游戏', '确定退出游戏？如果你是房主，这将使所有人退出本局游戏。', {'op': 'leaveGame'})">退出</button>
    </div>
  </div>
</nav>

<div *ngIf="gameState.state == 'loading'" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'lobby'" class="container mt-5">
  <div class="row mt-2">
    <div class="col">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-success tall-button" (click)="joinGame()"><p class="display-4">加入游戏</p></button>
        <button type="button" class="btn btn-outline-success tall-button" (click)="createGame()"><small><p class="display-4">创建游戏</p></small></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'createGame'" class="container">
  <div class="row mt-4">
    <div class="col">
      <p class="lead">狼</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn me-2" [ngClass]="players[0].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[0].selected = !players[0].selected">{{players[0].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[1].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[1].selected = !players[1].selected">{{players[1].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[2].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[2].selected = !players[2].selected">{{players[2].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[3].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[3].selected = !players[3].selected">{{players[3].name}}</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <p class="lead">民</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn me-2" [ngClass]="players[4].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[4].selected = !players[4].selected">{{players[4].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[5].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[5].selected = !players[5].selected">{{players[5].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[6].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[6].selected = !players[6].selected">{{players[6].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[7].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[7].selected = !players[7].selected">{{players[7].name}}</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <p class="lead">神</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn me-2" [ngClass]="players[8].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[8].selected = !players[8].selected">{{players[8].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[9].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[9].selected = !players[9].selected">{{players[9].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[10].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[10].selected = !players[10].selected">{{players[10].name}}</button>
      <button type="button" class="btn me-2" [ngClass]="players[11].selected ? 'btn-success' : 'btn-outline-secondary'" (click)="players[11].selected = !players[11].selected">{{players[11].name}}</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="d-grid gap-4">
        <button type="button" class="btn btn-outline-success" (click)="confirmCreateGame()"><p class="lead mb-0">创建游戏</p></button>
        <button type="button" class="btn btn-outline-secondary" (click)="gameState.setState('lobby')"><p class="lead mb-0">取消</p></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'joinGame'" class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">输入房间号码</label>
        <input type="text" pattern="\d*" class="form-control" style="font-size:25px;height:50px" [(ngModel)]="gameIdInput" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="d-grid gap-4">
        <button type="button" class="btn btn-outline-success" (click)="confirmJoinGame()"><p class="lead mb-0">加入</p></button>
        <button type="button" class="btn btn-outline-secondary" (click)="gameState.setState('lobby')"><p class="lead mb-0">取消</p></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'game'" class="container">
  <div class="row mt-3">
    <div class="col">
      配置: {{ gameState.characters }}
    </div>
  </div>
  <div class="row">
    <div class="col-3 mt-4 px-1" *ngFor="let p of gameState.players; let ind = index" >
      <div class="d-grid"><button type="button" class="btn seat" [ngClass]="p.selected ? 'btn-success' : 'btn-outline-success'" (click)="selectSeat(ind)">
        <p class="display-5 mb-0">{{ind + 1}}</p></button></div>
    </div>
  </div>
  <div *ngIf="gameState.hostId == gameState.playerId" class="row mt-4">
    <div *ngIf="gameState.turn == '' || gameState.turn == 'viewCharacter'" class="col-12">
      你是房主，待人员入座后即可开始游戏。请提高手机音量，游戏进度语音将从你的手机发出。
    </div>
    <div class="col-12 mt-2">
      <div class="d-grid gap-2">
        <button *ngIf="gameState.turn == ''" type="button" class="btn btn-outline-success" (click)="startGame()">开始发牌</button>
        <button *ngIf="gameState.turn == 'viewCharacter'" type="button" class="btn btn-outline-success" (click)="nightStart()">开始游戏 （天黑请闭眼）</button>
      </div>
    </div>
  </div>
  <div *ngIf="isMyTurn()" class="row mt-4">
    <div class="col-12">
      {{ getNote() }}
    </div>
    <div *ngIf="gameState.getSelfCharacter().allowNoAction" class="col-12 mt-4">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-success" (click)="endTurn()">结束回合</button>
      </div>
    </div>
    <!-- <div class="col">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-success" (click)="endTurn()">结束回合</button>
      </div>
    </div> -->
  </div>
</div>

<div *ngIf="gameState.turn == 'viewResult' && gameState.hostId == gameState.playerId" class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="d-grid gap-4">
        <button type="button" class="btn btn-outline-success" (click)="viewResult()">查看结果</button>
        <button type="button" class="btn btn-outline-success" (click)="restartGame()">重新发牌</button>
      </div>
    </div>
  </div>
</div>

<nav *ngIf="gameState.turn != ''" class="navbar fixed-bottom">
  <div class="container pe-0">
    <div class="row mb-3 w-100">
      <div class="d-grid gap-2 pe-0">
        <button type="button" class="btn btn-outline-success" (click)="viewCharacter()">查看身份</button>
      </div>
    </div>
  </div>
</nav>



<ng-template #errModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><span style="color: red">错误</span></h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"> </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="row">
      <div class="col">
        <p class="lead"><small>{{error}}</small></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">确定</button>
  </div>
</ng-template>

<app-confirm-dialog #confirmModel (onConfirm)="onConfirm($event)"></app-confirm-dialog>

<div class="container">
  <div class="row mt-5">
    <div class="col mt-5">
      <button type="button" class="btn btn-outline-success" (click)="debug()">Debug</button>
    </div>
  </div>
</div>
