<nav class="navbar navbar-light bg-light justify-content-between" id="body">
  <div class="container">
    <div style="min-width: 80px;">
      <button *ngIf="gameState.state == 'game'" type="button" class="btn btn-outline-danger"
       (click)="confirmModel.showDialog('退出游戏', '确定退出游戏？如果你是房主，这将使所有人退出本局游戏。', {'op': 'leaveGame'})">退出</button>
    </div>
    <a class="navbar-brand">{{ gameState.state == 'game' ? '房间号: ' + gameState.gameId : '狼人杀发牌助手' }} </a>
    <div style="min-width: 60px;">
      <button *ngIf="gameState.state == 'game'" type="button" class="btn btn-outline-secondary"
        (click)="settingModel.showDialog()">玩家信息</button>
    </div>
  </div>
</nav>

<div *ngIf="gameState.state == 'loading'" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'lobby'" class="container mt-5">
  <div class="row mt-2">
    <div class="col-12">
      <div class="d-grid gap-3">
        <button type="button" class="btn btn-outline-success tall-button" (click)="joinGame()"><p class="display-4">加入游戏</p></button>
        <button type="button" class="btn btn-outline-success tall-button" (click)="createGame()"><small><p class="display-4">创建游戏</p></small></button>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="d-grid gap-3">
        <button type="button" class="btn btn-outline-secondary" (click)="introModel.showDialog()"><p class="display-6 mb-0">角色介绍</p></button>
        <button type="button" class="btn btn-outline-secondary" (click)="settingModel.showDialog()"><p class="display-6 mb-0">玩家信息</p></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'createGame'" class="container">
  <div class="row mt-3">
    <div class="col">
      <p class="lead mb-0">狼阵营</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngFor="let p of players; let ind = index" >
        <button *ngIf="p.category == 'wolf'" type="button" class="btn mt-2 me-2" [ngClass]="p.selected ? 'btn-success' : 'btn-outline-secondary'" (click)="p.selected = !p.selected">{{p.name}}</button>
      </ng-container>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <p class="lead mb-0">民阵营</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngFor="let p of players; let ind = index" >
        <button *ngIf="p.category == 'human'" type="button" class="btn mt-2 me-2" [ngClass]="p.selected ? 'btn-success' : 'btn-outline-secondary'" (click)="p.selected = !p.selected">{{p.name}}</button>
      </ng-container>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <p class="lead mb-0">神阵营</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngFor="let p of players; let ind = index" >
        <button *ngIf="p.category == 'god'" type="button" class="btn mt-2 me-2" [ngClass]="p.selected ? 'btn-success' : 'btn-outline-secondary'" (click)="p.selected = !p.selected">{{p.name}}</button>
      </ng-container>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <p class="lead mb-0">第三方阵营</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngFor="let p of players; let ind = index" >
        <button *ngIf="p.category == 'thirdParty'" type="button" class="btn mt-2 me-2" [ngClass]="p.selected ? 'btn-success' : 'btn-outline-secondary'" (click)="p.selected = !p.selected">{{p.name}}</button>
      </ng-container>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="d-grid gap-4">
        <button type="button" class="btn btn-outline-success" (click)="confirmCreateGame()"><p class="lead mb-0">创建游戏</p></button>
        <button type="button" class="btn btn-outline-secondary" (click)="gameState.setState('lobby')"><p class="lead mb-0">取消</p></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'joinGame'" class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">输入房间号码</label>
        <input type="text" pattern="\d*" class="form-control" style="font-size:25px;height:50px" [(ngModel)]="gameIdInput" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="d-grid gap-4">
        <button type="button" class="btn btn-outline-success" (click)="confirmJoinGame()"><p class="lead mb-0">加入</p></button>
        <button type="button" class="btn btn-outline-secondary" (click)="gameState.setState('lobby')"><p class="lead mb-0">取消</p></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameState.state == 'game'" class="container">
  <div class="row mt-3">
    <div class="col">
      配置: {{ gameState.characters }}
    </div>
  </div>
  <div class="row px-2">
    <div class="col mt-4 px-1" *ngFor="let p of gameState.players; let ind = index" >
      <button type="button" class="btn btn-primary position-relative seat p-0 bg-white" (click)="selectSeat(ind)"
        [ngClass]="p.isSelf ? 'border-3 border-success' : 'border-secondary'">
        <img class="avatar" *ngIf="p.isOcupied" [src]="p.avatar && p.avatar != '' ? p.avatar : 'https://i.imgur.com/Q6Y7L9u.png'">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill" [ngClass]="p.isSelf ? ' bg-success' : ' bg-secondary'">
          {{ind + 1}}
        </span>
      </button>
      <p *ngIf="p.isOcupied && p.isSelf" class="mb-0 mt-1 text-center text-truncate seat-width text-success"><b>{{ p.name != '' ? p.name : (ind + 1) + '号玩家' }}</b></p>
      <p *ngIf="p.isOcupied && !p.isSelf" class="mb-0 mt-1 text-center text-truncate seat-width text-secondary">{{ p.name != '' ? p.name : (ind + 1) + '号玩家' }}</p>

    </div>
  </div>
  <div *ngIf="gameState.hostId == gameState.playerId" class="row mt-4">
    <div *ngIf="gameState.turn == '' || gameState.turn == 'viewCharacter'" class="col-12">
      <div class="alert alert-success" role="alert">你是房主，待人员入座后即可开始游戏。请取消静音并提高手机音量，并切勿锁屏。游戏进度语音将从你的手机发出。</div>
    </div>
    <div class="col-12 mt-2">
      <div class="d-grid gap-2">
        <button *ngIf="gameState.turn == ''" type="button" class="btn btn-outline-success" (click)="startGame()">开始发牌</button>
        <button *ngIf="gameState.turn == 'viewCharacter'" type="button" class="btn btn-outline-success" (click)="nightStart()">开始游戏 （天黑请闭眼）</button>
      </div>
    </div>
  </div>
  <div *ngIf="isMyTurn()" class="row mt-2">
    <div class="col-12 mt-2">
      <div class="alert alert-success" role="alert">{{ getNote() }}</div>
    </div>
    <div *ngIf="gameState.getSelfCharacter().allowNoAction" class="col-12 mt-2">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-success" (click)="endTurn()">结束回合</button>
      </div>
    </div>
    <div *ngIf="gameState.getSelfCharacter().type == 'thief'" class="col-12 mt-2">
      <div class="row">
        <div class="col" [ngClass]="i === 0 ? 'pe-1' : 'ps-1'" *ngFor="let c of gameState.getThiefChoices(); let i = index">
          <button type="button" class="btn btn-outline-success w-100 px-0" (click)="selectOption(c)" [disabled]="!c.selectable">{{c.name}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-padding"></div>
</div>

<div *ngIf="gameState.turn == 'viewResult'" class="container">
  <div *ngIf="gameState.hostId == gameState.playerId" class="row mt-4">
    <div class="col">
      <div class="d-grid gap-4">
        <button type="button" class="btn btn-outline-success" (click)="viewResult(true)">查看结果</button>
        <button type="button" class="btn btn-outline-success" (click)="restartGame()">重新发牌</button>
      </div>
    </div>
  </div>

  <div *ngIf="gameState.hostId != gameState.playerId && gameState.getSelfCharacter().actionResult" class="col-12 mt-2">
    <div class="col">
      <div class="d-grid gap-4">
        <button type="button" class="btn btn-outline-success" (click)="viewResult(false)">查看结果</button>
      </div>
    </div>
  </div>

  <div class="row bottom-padding"></div>
</div>

<nav *ngIf="gameState.state == 'game' && gameState.turn == ''" class="navbar navbar-light bg-light fixed-bottom">
  <div class="container pe-0">
    <div class="row mb-1 w-100">
      <div class="col">
        <button type="button" class="btn w-100 btn-outline-secondary" (click)="introModel.showDialog()">角色介绍</button>
      </div>
    </div>
  </div>
</nav>

<nav *ngIf="gameState.turn != ''" class="navbar navbar-light bg-light fixed-bottom">
  <div class="container pe-0">
    <div class="row mb-1 w-100">
      <div class="d-grid gap-2 pe-0">
        <button *ngIf="gameState.playerId == gameState.hostId && gameState.audio == null" type="button" class="btn btn-outline-danger" (click)="gameState.announce('soundUnlock.mp3')">
          <small>请点此解锁语音, 由于苹果系统浏览器限制，刷新网页后需要点此解锁语音自动播放</small></button>
        <div class="row">
          <div class="col pe-1">
            <button type="button" class="btn btn-outline-success w-100" (click)="viewCharacter()">查看身份</button>
          </div>
          <div class="col ps-1">
            <button type="button" class="btn btn-outline-secondary w-100" (click)="introModel.showDialog()">角色介绍</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #errModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><span style="color: red">错误</span></h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"> </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="row">
      <div class="col">
        <p class="lead"><small>{{error}}</small></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">确定</button>
  </div>
</ng-template>

<app-setting-dialog #settingModel (onSave)="onSettingSave($event)"></app-setting-dialog>
<app-intro-dialog #introModel></app-intro-dialog>
<app-confirm-dialog #confirmModel (onConfirm)="onConfirm($event)"></app-confirm-dialog>

<div *ngIf="!env.production" class="container">
  <div class="row mt-3">
    <div class="col">
      <button type="button" class="btn btn-outline-success w-100" (click)="debug()">Debug</button>
    </div>
  </div>
</div>
