<nav class="navbar navbar-light bg-light justify-content-center">
  <a class="navbar-brand">狼人杀发牌助手</a>
</nav>

<div class="container mt-5">
  <div class="row mt-2">
    <div class="col">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-success tall-button"><p class="display-4">加入游戏</p></button>
        <button type="button" class="btn btn-outline-success tall-button"><small><p class="display-4">创建游戏</p></small></button>
      </div>
    </div>
  </div>
</div>
