<ng-template #inrtoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">角色介绍</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"> </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="row">
      <div class="col">
        <p class="display-6 mb-0 mt-3"><small><strong>狼阵营</strong></small></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr class="mt-2 mb-3"/>
      </div>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>狼人</strong></p>
      <p class="lead"><small>每晚可以睜眼與隊友見面討論戰術並選擇殺害對象，可以選擇當夜不殺害任何玩家（空刀）或自殺（自刀）。白天混入村落中混淆好人。狼人可以在白天發言階段任何時候選擇翻牌自爆強制進入夜晚，自爆的狼人在晚上點刀後死亡。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>白狼王</strong></p>
      <p class="lead"><small>白狼王自爆可以開槍帶走一名玩家。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>隐狼</strong></p>
      <p class="lead"><small>隱狼晚上不與狼人一起睜眼殺人，狼人不會得知隱狼身分；隱狼則會單獨睜眼，並得知所有狼隊友的身分。預言家、騎士均不能認定其為狼人。當場上只剩隱狼一名狼人，則狼人失敗。隱狼不能自爆，狼隊友可以殺死隱狼。</small></p>
    </div>

    <div class="row">
      <div class="col">
        <p class="display-6 mb-0 mt-3"><small><strong>平民阵营</strong></small></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr class="mt-2 mb-3"/>
      </div>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>村民</strong></p>
      <p class="lead"><small>又稱「村民」。沒有特殊技能，晚上全程閉眼，透過白天所得資訊投票放逐疑似狼人的玩家。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>老流氓</strong></p>
      <p class="lead"><small>不受狼美人魅惑。被毒殺或者射殺後分別進入中毒和負傷狀態，直到第二天發言結束後死亡。</small></p>
    </div>

    <div class="row">
      <div class="col">
        <p class="display-6 mb-0 mt-3"><small><strong>神阵营</strong></small></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr class="mt-2 mb-3"/>
      </div>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>预言家</strong></p>
      <p class="lead"><small>每晚可以查驗一位存活玩家的所屬陣營，並在白天透過發言向好人報出資訊。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>女巫</strong></p>
      <p class="lead"><small>擁有一瓶解藥和一瓶毒藥。解藥未使用時可以得知狼人的殺害對象，並決定是否使用解藥，只有首夜可以自救。女巫也可以利用白天所得資訊，將懷疑的對象毒殺，該對象死後不能發動技能。解藥和毒藥不可以在同一晚使用。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>猎人</strong></p>
      <p class="lead"><small>除殉情或被毒殺外，以任何其他方式被淘汰時可以公布角色牌發動技能開槍帶走一位玩家，亦可以選擇壓槍不發動技能。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>守卫</strong></p>
      <p class="lead"><small>每晚可以守護一名玩家免受狼人殺害，可以守護自己，但不能連續兩晚守護同一人。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>白痴</strong></p>
      <p class="lead"><small>若白天放逐公投中被投出，可翻開角色牌以免疫該次放逐，但在之後的放逐公投中失去投票權利。狼人無須追刀白痴。</small></p>
    </div>
    <div class="row">
      <p class="lead mb-0"><strong>骑士</strong></p>
      <p class="lead"><small>白天發言階段任意時候可以翻牌選擇與一名玩家決鬥。如對方是狼人則對方即時出局且不能發動技能，並直接進入夜晚；如對方是好人則騎士以死謝罪，繼續白天流程。</small></p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.dismiss('Cross click')">关闭</button>
  </div>
</ng-template>
